/* line 4, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 {
  background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-banner-dashboard.jpg?itok=qqYc1uac);
  background-size: 100%;
  height: 25em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}
/* line 11, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 h1 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 52px;
}
/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 p {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: lighter;
}

/* line 24, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-navbar {
  padding-right: 2em;
}
/* line 25, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-navbar .menu {
  margin-top: 3em;
}

/* line 31, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.active {
  border-bottom: 4px solid #05c2d1;
}

/* line 35, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container {
  margin-top: 8%;
}
/* line 37, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 2%;
}
/* line 44, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-picture {
  margin-top: 10%;
}
/* line 47, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-content {
  margin-top: 2% !important;
}
/* line 50, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-profile {
  padding: 12px;
  margin: 5px;
  border-radius: 4px;
}
/* line 55, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .delete {
  border-color: red;
  color: red;
}

/* line 61, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container {
  margin-top: 8%;
}
/* line 63, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 1%;
}
/* line 70, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .card {
  height: 380px;
}
/* line 73, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project {
  padding-top: 5%;
}
/* line 76, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project .card-profile {
  margin: 2%;
}
/* line 79, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project .dash-line {
  width: 100%;
  margin-bottom: 15%;
}
/* line 83, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project h1 {
  font-size: 40px;
  font-weight: lighter;
}
/* line 88, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project h1, .dashboard-project-container .dashboard-project h3, .dashboard-project-container .dashboard-project p {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 95, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card {
  height: 200em;
  width: 30em;
}
/* line 98, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: lighter;
}
/* line 104, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card h3 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
}

/* line 113, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-padding {
  margin-bottom: 10%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* line 1, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-container {
  height: 20em;
  position: relative;
}

/* line 7, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-block-95 {
  background-image: url("/assets/turing-show-banner");
  background-size: 100%;
  height: 20em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}

/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.graduate-picture {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* line 24, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
img {
  max-width: 100%;
  z-index: 5;
  vertical-align: middle;
}

/* line 30, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
/* line 36, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder h1 {
  color: white;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
}
/* line 44, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder p {
  font-size: 26px;
  color: white;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
}
/* line 52, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul {
  list-style-type: none;
}
/* line 54, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li {
  display: inline;
}
/* line 56, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .resume-btn {
  margin-right: 4px;
  text-align: left;
  border: 1px solid white;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 63, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .linkedin-btn {
  margin-right: 4px;
  text-align: left;
  border: 1px solid white;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 70, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .heart {
  text-align: center;
  border: 1px solid white;
  padding-right: 2px;
  padding-left: 12px;
}

/* line 81, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me {
  height: 16em;
  position: relative;
}
/* line 84, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me h1 {
  padding: 2%;
  color: #3c4040;
  font-size: 36px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
/* line 92, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me p {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #7c8c8e;
}
/* line 98, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li {
  display: inline;
}
/* line 100, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li .email-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 113, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li .github-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

/* line 130, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.my-projects h1 {
  color: #3c4040;
  font-size: 36px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.1;
}

/* line 142, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me-cont h1 {
  color: #3c4040;
  font-size: 24px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: bold;
  font-weight: 700;
  line-height: 1.1;
}
/* line 150, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me-cont ul {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.7;
  color: #7c8c8e;
}
/* line 3, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects {
  border: 1px solid #ebecec;
  margin-bottom: 2em;
}
/* line 6, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-screenshot {
  height: 45em;
}
/* line 9, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-screenshot img {
  max-width: 95%;
  max-height: auto;
  display: block;
  margin: auto;
}
/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .title h1 {
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 28, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-overview h1 {
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 2%;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 40, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-overview p {
  margin-left: 5%;
  margin-right: 2.5%;
  font-size: 26px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
  line-height: 1.1;
}
/* line 54, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .focus h1 {
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 65, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .focus p {
  margin-left: 2.5%;
  margin-right: 5%;
  font-size: 26px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
  line-height: 1.1;
}
/* line 77, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 10px;
}
/* line 82, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li {
  display: inline;
}
/* line 85, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li .repository-btn {
  margin-top: 10px;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none !important;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 100, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li .launch-app-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 115, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-buttons {
  /*    border-top: 1px solid #ebecec;
      border-bottom: 1px solid #ebecec;*/
}

/* line 122, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.my-projects-title h1 {
  margin-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 1.1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 4, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 {
  background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-banner-dashboard.jpg?itok=qqYc1uac);
  background-size: 100%;
  height: 25em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}
/* line 11, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 h1 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 52px;
}
/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.block.block-block-96 p {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: lighter;
}

/* line 24, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-navbar {
  padding-right: 2em;
}
/* line 25, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-navbar .menu {
  margin-top: 3em;
}

/* line 31, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.active {
  border-bottom: 4px solid #05c2d1;
}

/* line 35, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container {
  margin-top: 8%;
}
/* line 37, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 2%;
}
/* line 44, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-picture {
  margin-top: 10%;
}
/* line 47, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-content {
  margin-top: 2% !important;
}
/* line 50, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .card-profile {
  padding: 12px;
  margin: 5px;
  border-radius: 4px;
}
/* line 55, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-container .delete {
  border-color: red;
  color: red;
}

/* line 61, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container {
  margin-top: 8%;
}
/* line 63, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 1%;
}
/* line 70, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .card {
  height: 380px;
}
/* line 73, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project {
  padding-top: 5%;
}
/* line 76, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project .card-profile {
  margin: 2%;
}
/* line 79, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project .dash-line {
  width: 100%;
  margin-bottom: 15%;
}
/* line 83, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project h1 {
  font-size: 40px;
  font-weight: lighter;
}
/* line 88, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-project-container .dashboard-project h1, .dashboard-project-container .dashboard-project h3, .dashboard-project-container .dashboard-project p {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 95, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card {
  height: 200em;
  width: 30em;
}
/* line 98, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card h2 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: lighter;
}
/* line 104, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-card h3 {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
}

/* line 113, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/dashboard.scss */
.dashboard-padding {
  margin-bottom: 10%;
}

/* line 1, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-container {
  height: 20em;
  position: relative;
}

/* line 7, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-block-95 {
  background-image: url("/assets/turing-show-banner");
  background-size: 100%;
  height: 20em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}

/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.graduate-picture {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* line 24, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
img {
  max-width: 100%;
  z-index: 5;
  vertical-align: middle;
}

/* line 30, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
/* line 36, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder h1 {
  color: white;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
}
/* line 44, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder p {
  font-size: 26px;
  color: white;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
}
/* line 52, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul {
  list-style-type: none;
}
/* line 54, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li {
  display: inline;
}
/* line 56, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .resume-btn {
  margin-right: 4px;
  text-align: left;
  border: 1px solid white;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 63, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .linkedin-btn {
  margin-right: 4px;
  text-align: left;
  border: 1px solid white;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 70, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.show-name-holder ul li .heart {
  text-align: center;
  border: 1px solid white;
  padding-right: 2px;
  padding-left: 12px;
}

/* line 81, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me {
  height: 16em;
  position: relative;
}
/* line 84, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me h1 {
  padding: 2%;
  color: #3c4040;
  font-size: 36px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
}
/* line 92, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me p {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #7c8c8e;
}
/* line 98, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li {
  display: inline;
}
/* line 100, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li .email-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 113, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me ul li .github-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

/* line 130, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.my-projects h1 {
  color: #3c4040;
  font-size: 36px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.1;
}

/* line 142, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me-cont h1 {
  color: #3c4040;
  font-size: 24px;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: bold;
  font-weight: 700;
  line-height: 1.1;
}
/* line 150, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/show.scss */
.about-me-cont ul {
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.7;
  color: #7c8c8e;
}

/* line 3, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects {
  border: 1px solid #ebecec;
  margin-bottom: 2em;
}
/* line 6, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-screenshot {
  height: 45em;
}
/* line 9, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-screenshot img {
  max-width: 95%;
  max-height: auto;
  display: block;
  margin: auto;
}
/* line 16, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .title h1 {
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 28, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-overview h1 {
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 2%;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 40, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-overview p {
  margin-left: 5%;
  margin-right: 2.5%;
  font-size: 26px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
  line-height: 1.1;
}
/* line 54, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .focus h1 {
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
/* line 65, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .focus p {
  margin-left: 2.5%;
  margin-right: 5%;
  font-size: 26px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-weight: lighter;
  line-height: 1.1;
}
/* line 77, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 10px;
}
/* line 82, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li {
  display: inline;
}
/* line 85, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li .repository-btn {
  margin-top: 10px;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none !important;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 100, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects ul li .launch-app-btn {
  margin-top: 2%;
  margin-right: 4px;
  vertical-align: center;
  text-align: left;
  border: 1px solid #05C2D1 !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #05C2D1;
  line-height: 1.1;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}
/* line 115, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.projects .project-buttons {
  /*    border-top: 1px solid #ebecec;
      border-bottom: 1px solid #ebecec;*/
}

/* line 122, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/user_project_card.scss */
.my-projects-title h1 {
  margin-top: 10px;
  padding-bottom: 10px;
  color: #3C4040;
  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 1.1;
}

/* line 23, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar {
  width: 100%;
  position: fixed;
}
/* line 27, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo {
  position: relative;
  width: 324px;
  display: block;
  text-decoration: none;
  padding: 6%;
}
/* line 34, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  z-index: 1;
}
/* line 42, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img.gear {
  z-index: 0;
  animation: spin 14s linear 0s infinite reverse;
  -moz-animation: 14s linear 0s reverse none infinite spin;
  -webkit-animation: spin 14s linear 0s infinite reverse;
  -o-animation: spin 14s linear 0s infinite reverse;
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
  padding: 6%;
}
/* line 55, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img.gear:hover {
  animation-play-state: running;
}

/* line 61, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu {
  list-style-type: none;
  margin-top: 5%;
  margin-right: 1em;
}
/* line 66, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu li {
  float: left;
}
/* line 69, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu li a {
  padding: 14px 16px;
}

/* line 75, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.material-icons {
  color: #05c2d1;
}

/* line 79, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.more-vert:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* line 92, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-94 {
  background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-alumni-banner.jpg?itok=KJUoCDZ-);
  background-size: 100%;
  height: 30em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}

/* line 101, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 {
  background-image: url("/assets/turing-show-banner.jpg");
  background-size: 100%;
  height: 20em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}
/* line 109, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center {
  text-align: left;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  /* Negative half of height. */
  margin-left: -250px;
  /* Negative half of width. */
  width: 800px;
}
/* line 120, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center .title {
  color: white;
  font-size: 20px !important;
}
/* line 125, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center .outer {
  color: white  !important;
}
/* line 127, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center .outer .resume-btn {
  width: 120px !important;
  border: 1px solid white;
}
/* line 131, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center .outer .linkedin-btn {
  border: 1px solid white;
  width: 50px !important;
}
/* line 135, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 center .outer .heart {
  border: 1px solid white;
  width: 50px !important;
}
/* line 144, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-95 p {
  padding-top: 2%;
}

/* line 149, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.user-show-picture {
  background-image: url("/assets/turing-alumni-banner.jpg");
  height: 365px;
  width: 365px;
  background-repeat: no-repeat;
  margin-top: 3%;
}

/* line 160, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content {
  padding-top: 13%;
  text-align: center;
}
/* line 164, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content h1 {
  color: white;
  font-size: 48px;
}
/* line 169, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content hr {
  width: 12em;
  border-color: #05c2d1;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 176, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content p {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

/* line 183, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.region-filters {
  background-color: #05c2d1;
  margin-bottom: 40px;
}

/* line 189, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.pull-left {
  float: left !important;
}

/* line 193, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

/* line 199, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.pull-right {
  float: right !important;
}

/* line 203, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.input-field {
  border: 2px solid white;
  background-color: white;
  margin-bottom: 2em;
}

/* line 209, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
#input_text {
  border: none;
}

/* line 214, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
body {
  font-family: sans-serif,Monaco,Consolas,"Courier New",monospace;
}

/* line 218, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
#name {
  border: 1px solid white;
  border-radius: 0.15em;
  background-color: white;
  margin-top: 1em;
  width: 10%;
  margin-left: 20%;
  padding-right: 20%;
}

/* line 229, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.textinput {
  height: 3em;
  margin: 1em 0;
  position: relative;
  width: 100%;
}

/* line 236, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input[placeholder="Search Here..."] {
  padding-left: 15px;
}

/* line 239, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input[type="search"] {
  box-sizing: border-box;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
}

/* line 247, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.search-container {
  width: 500px;
  margin-left: 20%;
}

/* line 253, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}

/* line 261, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.Search-label {
  position: absolute;
  top: 35%;
  left: 90%;
  font-size: 50%;
}

/* line 268, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-links {
  text-align: center;
  margin-bottom: 12%;
  margin-top: 12%;
}
/* line 270, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-links i {
  padding-right: 10%;
  padding-left: 10%;
}

/* line 278, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
img.card-picture {
  border-radius: 50% !important;
  height: 200px !important;
  width: 200px !important;
}

/* line 283, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-profile {
  color: #05c2d1;
  border: 1px solid #05c2d1;
  padding: 2%;
  border-radius: 10px;
  font-weight: normal;
}
/* line 290, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-profile:hover {
  font-weight: bold;
}

/* line 295, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card {
  height: 45em;
}

/* line 299, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-picture {
  margin-top: 20%;
}

/* line 303, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content {
  margin-top: 8%;
}
/* line 304, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content p {
  font-size: 14px !important;
}

/* line 310, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.fa-heart-o {
  color: pink;
  padding: 2%;
}

/* line 314, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.fa-heart {
  color: pink;
  padding: 2%;
}

/* line 319, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
i.right {
  float: right;
  padding: 2%;
}

/* line 324, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
hr {
  width: 14em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 329, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content p {
  font-size: 16px !important;
  line-height: 150%;
}

/* line 334, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.container {
  width: 80%;
}

/* line 338, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
footer.page-footer {
  background-color: #3C4040 !important;
  height: 300px !important;
}

/* line 343, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.newsletter {
  font-size: 30px;
  color: white;
  font-family: azo-sans-web, sans-serif;
  margin-top: 1em;
}

/* line 350, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.social-footer {
  color: #05c2d1;
  padding: 4%;
  padding-top: 6%;
}

/* line 356, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.address {
  color: grey;
  font-size: 20px;
  width: 80%;
  line-height: 150%;
  margin-top: 6%;
  margin-bottom: 5%;
}

/* line 365, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.phone-number {
  color: #05c2d1;
  font-size: 20px;
  margin-top: 6%;
  line-height: 150%;
  width: 80%;
}

/* line 377, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input.input-newsletter {
  border: solid .5px white;
  width: 80%;
  border-radius: 0.20em;
}

/* line 383, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input[placeholder="Your Email Here"] {
  padding-left: 15px;
}

/* line 388, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.account-row {
  margin-top: 7%;
}

/* line 392, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.account-btn {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #20CE20;
}
