html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 19, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar {
  width: 100%;
  position: fixed;
}
/* line 23, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 6%;
}
/* line 29, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  z-index: 1;
}
/* line 37, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img.gear {
  z-index: 0;
  animation: spin 14s linear 0s infinite reverse;
  -moz-animation: 14s linear 0s reverse none infinite spin;
  -webkit-animation: spin 14s linear 0s infinite reverse;
  -o-animation: spin 14s linear 0s infinite reverse;
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
  padding: 6%;
}
/* line 50, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.navbar .logo img.gear:hover {
  animation-play-state: running;
}

/* line 56, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu {
  list-style-type: none;
  margin-top: 5%;
  margin-right: 1em;
}
/* line 61, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu li {
  float: left;
}
/* line 64, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.menu li a {
  padding: 14px 16px;
}

/* line 73, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.material-icons {
  color: #05c2d1;
}

/* line 77, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.more-vert:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* line 92, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block.block-block-94 {
  background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-alumni-banner.jpg?itok=KJUoCDZ-);
  background-size: 100%;
  height: 30em;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0 !important;
}

/* line 101, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content {
  padding-top: 13%;
  text-align: center;
}
/* line 105, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content h1 {
  color: white;
  font-size: 48px;
}
/* line 110, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content hr {
  width: 12em;
  border-color: #05c2d1;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 117, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.block-content p {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

/* line 124, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.region-filters {
  background-color: #05c2d1;
  margin-bottom: 40px;
}

/* line 130, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.pull-left {
  float: left !important;
}

/* line 134, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

/* line 140, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.pull-right {
  float: right !important;
}

/* line 144, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.input-field {
  border: 2px solid white;
  background-color: white;
  margin-bottom: 2em;
}

/* line 150, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
#input_text {
  border: none;
}

/* line 155, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
body {
  font-family: sans-serif,Monaco,Consolas,"Courier New",monospace;
}

/* line 159, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
#name {
  border: 1px solid white;
  border-radius: 0.15em;
  background-color: white;
  margin-top: 1em;
  width: 10%;
  margin-left: 20%;
  padding-right: 20%;
}

/* line 170, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.textinput {
  height: 3em;
  margin: 1em 0;
  position: relative;
  width: 100%;
}

/* line 177, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input[placeholder="Search Here..."] {
  padding-left: 15px;
}

/* line 180, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
input[type="search"] {
  box-sizing: border-box;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
}

/* line 188, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.search-container {
  width: 500px;
  margin-left: 20%;
}

/* line 194, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}

/* line 202, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.Search-label {
  position: absolute;
  top: 35%;
  left: 90%;
  font-size: 50%;
}

/* line 209, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-links {
  text-align: center;
  margin-bottom: 12%;
  margin-top: 12%;
}
/* line 211, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-links i {
  padding-right: 10%;
  padding-left: 10%;
}

/* line 219, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
img.card-picture {
  border-radius: 50% !important;
  height: 200px !important;
  width: 200px !important;
}

/* line 224, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-profile {
  color: #05c2d1;
  border: 1px solid #05c2d1;
  padding: 2%;
  border-radius: 10px;
  font-weight: normal;
}
/* line 231, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-profile:hover {
  font-weight: bold;
}

/* line 236, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card {
  height: 45em;
}

/* line 240, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card-picture {
  margin-top: 20%;
}

/* line 244, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content {
  margin-top: 8%;
}
/* line 245, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content p {
  font-size: 14px !important;
}

/* line 251, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.fa-heart-o {
  color: pink;
  padding: 2%;
}

/* line 255, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.fa-heart {
  color: pink;
  padding: 2%;
}

/* line 260, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
i.right {
  float: right;
  padding: 2%;
}

/* line 265, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
hr {
  width: 14em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 270, /Users/danielshin/Documents/turing/module_4/projects/briefcase/app/assets/stylesheets/application.scss */
.card .card-content p {
  font-size: 16px !important;
  line-height: 150%;
}
