/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
  width: 100%;
}
 .navbar .logo {
     position: relative;
     display: block;
     text-decoration: none;
     padding: 6%;
 }
 .pull-left {
     float: left!important;
 }

 a {
    color: white;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.navbar .logo img.gear {
    z-index: 0;
    animation: spin 14s linear 0s infinite reverse;
    -moz-animation: 14s linear 0s reverse none infinite spin;
    -webkit-animation: spin 14s linear 0s infinite reverse;
    -o-animation: spin 14s linear 0s infinite reverse;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
    padding: 6%;
}

.navbar .logo img.gear:hover {
  animation-play-state: running;
}

.navbar .logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 120px;
    z-index: 1;
}


.pull-right {
    float: right!important;
}


.menu  {
  list-style-type: none;
  margin-top: 5%;
  margin-right: 1em;


  li {
    float: left;

    a {
      padding: 14px 16px;
    }
  }
}


.active {
  border-bottom: 2px solid blue;
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

.block.block-block-94 {
    background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-alumni-banner.jpg?itok=KJUoCDZ-);
    background-size: 100%;
    height: 30em;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0 !important;
}

.navbar {
  position: fixed
}

.block-content {
  padding-top: 13%;
  text-align: center;

  h1 {
    color: white;
    font-size: 48px;
  }

  hr {
    width: 12em;
    border-color: #05c2d1;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  p {
    font-size: 20px;
    color: white;
    font-weight: lighter;
  }
}


.region-filters {
    background-color: #05c2d1;
    padding: 2.2em 0em;
    margin-bottom: 40px;
}


body {
  font-family: sans-serif,Monaco,Consolas,"Courier New",monospace;
  background-color: red;
}
