/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar .logo {
     position: relative;
     display: block;
     text-decoration: none;
     padding: 0px;
 }
 .pull-left {
     float: left!important;
 }

 a {
    color: #05c2d1;
    text-decoration: none;
}
a {
    background-color: transparent;
}

body {
  background-color: blue;
}

.navbar .logo img.gear {
    z-index: 0;
    animation: spin 14s linear 0s infinite reverse;
    -moz-animation: 14s linear 0s reverse none infinite spin;
    -webkit-animation: spin 14s linear 0s infinite reverse;
    -o-animation: spin 14s linear 0s infinite reverse;
    -webkit-animation-play-state: running;
    -o-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}

.navbar .logo img.gear:hover {
  animation-play-state: running;
}

.navbar .logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    z-index: 1;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
