
.block.block-block-96 {
    background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-banner-dashboard.jpg?itok=qqYc1uac);
    background-size: 100%;
    height: 25em;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0 !important;
    h1 {
      font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		  font-weight: bold;
      line-height: 52px;
    }
    p {
      font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 24px;
      line-height: 31px;
      font-weight: lighter;
    }
}

.dashboard-navbar{
  .menu {
    margin-top: 3em;
  }
  padding-right: 2em;
}
