
.block.block-block-96 {
    background-image: url(https://www.turing.io/sites/default/files/styles/block_background/public/block_background/turing-banner-dashboard.jpg?itok=qqYc1uac);
    background-size: 100%;
    height: 25em;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0 !important;
}
