.delete-portfolio {
	.delete-row p {
		padding-top: 40px;
		font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-size: 16px;
	  line-height: 1.7;
	  color: #7c8c8e;
	}
	.cancel {
		margin-right: 4px;
		vertical-align: center;
		text-align: left;
	  padding: 6px;
	  color: #05C2D1;
	  line-height: 1.1;
	  font: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  font-size: 18px;
	}
	.delete {
		margin-right: 4px;
		vertical-align: center;
	  background-color: #E01414;
	  z-index: -1;
		color: #FFF;
		text-align: left;
		padding-top: 6px;
		padding-bottom: 5px;
	  padding-left: 15px;
	  padding-right: 15px;
	  line-height: 1.1;
	  font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-size: 18px;
	}
}