.portfolio-name-container {
	position: relative;

	input[placeholder="Full Name*"]{
    font-size: 30px;
  }

  input[placeholder="Title*"]{
    font-size: 30px;
  }
}

.bio-edit {
	height: 80px;
}

// .jumbo-text {
	#edit-full-name, {
		font-size: 40px;
		color: white;
		width: 100%;
		// border-bottom: none !important;
		padding-left: 10px;
	}

	#edit-title{
		font-size: 30px;
		color: white;
		// border-bottom: none !important;
		padding-left: 10px;

	}


.email {
	margin-top: 2%;
}

#resume {
	margin-top: 5%;
}

#edit-profile-information {
	margin-top: 4%;
	margin-bottom: 3%;
}

#looking-for,
#best-at {
	height: 200px;
}

#bio {
	height: 200px;


}

textarea[placeholder="A description of yourself, your background, languages you are good at, and whatever else you would like to include in your bio...*"]{
  font-size: 20px;
}

.portfolio-btns {
	margin-bottom: 30px;
	margin-top: 10px;
	background-color: #20CE20
}

.about-me-cont {
	input[placeholder="example@example.com*"]{
    font-size: 20px;
  }

  input[placeholder="github.com/:username*"]{
    font-size: 20px;
  }

  input[placeholder="twitter.com/:username"]{
    font-size: 20px;
  }

  input[placeholder="linkedin.com/:username*"]{
    font-size: 20px;
  }

  input[placeholder="mypersonalsite.com"]{
    font-size: 20px;
  }

  input[placeholder="Google, Inc."]{
    font-size: 20px;
  }

   /* label color */ /* label color */
   label {
    font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
   }
}
