.portfolio-name-container {
	position: relative;
}

.bio-edit {
	height: 80px;
}

.jumbo-text {
	#edit-full-name, {
		font-size: 60px;
		color: white;
	}

	#edit-title{
		font-size: 30px;
		color: white;
	}
}

.email {
	margin-top: 2%;
}

#resume {
	margin-top: 5%;
}
