.portfolio-name-container {
	position: relative;
}

.bio-edit {
	height: 80px;
}

.jumbo-text {
	#edit-full-name, {
		font-size: 60px;
		color: white;
	}

	#edit-title{
		font-size: 30px;
		color: white;
	}
}

.email {
	margin-top: 2%;
}

#resume {
	margin-top: 5%;
}

#edit-profile-information {
	margin-top: 4%;
	margin-bottom: 3%;
}

#looking-for,
#best-at {
	height: 200px;
}

#bio {
	height: 200px;
}

.portfolio-btns {
	margin-bottom: 30px;
	margin-top: 10px;
}
